<html>

<head>
    <title>
        <%= nombre %>
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="http://alasql.org/codex/lib/alasql/alasql.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

    <script type="text/javascript" src=" ../js/adicional.js"></script>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>

    <!--[if IE]>
<script type="text/javascript " src="../js/angular.min.js "></script>
<![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../css/adicional.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="/socket.io/socket.io.js "></script>
    <script type="text/javascript" src="../js/app.js "></script>
    <script type="text/javascript" src="../js/angularjs.js "></script>

    <style type="text/css">
        body {
            /* background:linear-gradient(#014576,#0B7AA7,#4CB1A3,#B1DB91)no-repeat;
  background-size:cover;
  overflow-x: hidden;*/
        }
    </style>

    <script>
        $(document).ready(function() {
           var desarrollo = <%- JSON.stringify(desarrollo) %>;
           $('.subscribeStatic').html(desarrollo);

            $("#Notificacion").hide();
            $("#Correcto").hide();
            $("#login").click(function() { //debugger;
                $.post("http://localhost:8080/api/authenticate", {
                        name: $('#email').val(),
                        password: $('#pw').val()
                    })
                    .done(function(data) {

                        if (data.success) {

                            localStorage.setItem('tk', data.token);
                            window.location =  "/home";

                        } else {
                            $("#Notificacion").hide(350);
                            $("#Notificacion").show(350);
                            $("#textnot").text("Error:Su correo o usuario no son correctos.");
                        }

                    })
                    .fail(function() {

                    })

            });

        });
    </script>

</head>

<body>
    <%- include('header'); %>




    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title"> <%= nombre %> </h1>
        <p class="lead blog-description"> <%= categoria %> / <%= subcategoria %></p>
      </div>
    </div>

    <div class="container">



      <div class="row">

        <div class="col-sm-8">

    <div class="subscribeStatic">
     <%= desarrollo %>
    </div>


          <div class="">
            <h2 class="blog-post-title">Postulados</h2>
       

        
          </div><!-- /.blog-post -->


          <nav class="blog-pagination">
        
          
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar gradientWhite">
          <div class="">
            <h4>Proyectos relacionados</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
            
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Recomienda este proyecto a un amigo:</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>

            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">

       
    </footer>








</body>

</html>